body {
  padding: 20px;
}

.marker {
  display: inline-block;
  margin: 15px
}

.marker label {
  line-height: 15px;
  font-size: 10px;
  font-family: monospace;
  display: block;
  text-align: right;
}

.marker .row {
  display: inline-grid;
}

.marker .box {
  width: 37px;
  height: 37px;
  background: white;
}

.marker .box.border,
.marker .box.black {
  background: black;
}

.html2pdf__page-break{
  display: none;
}
